@using mevzuuCafe.Models.Entity
@model List<tblGallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h1 class="mt-4">Panel / Galeri Görselleri</h1>
@*<ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Panel / Anasayfa</li>
    </ol>*@


    <main>
        <div class="container-fluid px-4">


            <div class="card mb-4">

                <form runat="server">
                    <div class="card-body">
                        <table id="datatablesSimple" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adı</th>
                                    <th>Görsel</th>
                                    <th>Yönet</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var glr in Model)
                                {
                                    <tr>
                                        <td>@glr.imgID</td>
                                        <td>@glr.imgName</td>
                                        <td><img src="@glr.imgView" width="250" /></td>
                                        <td><a href="/Gallery/EditGallery/@glr.imgID" class="btn btn-success">Düzenle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </main>

