@model mevzuuCafe.Models.Entity.tblHome

<div class="col-md-6 col-md-pull-2 img-wrap animate-box" data-animate-effect="fadeInLeft">
    <img src="~/style_media/images/hero_1.jpeg" alt="@Model.metin2">
</div>
<div class="col-md-5 col-md-push-1 animate-box">
    <div class="section-heading">
        <h2>@Model.metin2</h2>
        <p>
            @Model.metin
        </p>

    </div>
</div>

