@using mevzuuCafe.Models.Entity
@model List<tblGallery>

@*@foreach (var item in Model)
{
    <div class="col-md-2 col-sm-3 fh5co-gallery_item">
        <div class="fh5co-bg-img" data-trigger="zoomerang"><img width="300" src="@item.imgView" /></div>
    </div>

}*@
<div class="col-md-3 col-sm-3 fh5co-gallery_item">
    <div class="fh5co-bg-img" data-trigger="zoomerang"><img width="400" src="~/style_media/images/gallery_1.jpeg" /></div>
</div>
<div class="col-md-3 col-sm-3 fh5co-gallery_item">
    <div class="fh5co-bg-img" data-trigger="zoomerang"><img width="400" src="~/style_media/images/gallery_2.jpeg" /></div>
</div>
<div class="col-md-3 col-sm-3 fh5co-gallery_item">
    <div class="fh5co-bg-img" data-trigger="zoomerang"><img width="400" src="~/style_media/images/gallery_3.jpeg" /></div>
</div>
<div class="col-md-3 col-sm-3 fh5co-gallery_item">
    <div class="fh5co-bg-img" data-trigger="zoomerang"><img width="400" src="~/style_media/images/gallery_4.jpeg" /></div>
</div>
