
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" type="image/ico"  href="/favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>mevZUU Cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--
    //////////////////////////////////////////////////////

    Slider

    //////////////////////////////////////////////////////
     -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/style_media/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/style_media/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/style_media/css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/style_media/css/flexslider.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/style_media/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/style_media/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="~/style_media/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- slider -->
    <!-- slider -->


    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <!-- <div class="top-menu"> -->
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 text-center menu-1 menu-wrap">
                        <ul>
                            <li><a href="/Default/Index">Anasayfa</a></li>
                            <li><a href="/Menu/Index">Menu</a></li>
                            <li><a href="/Contact/Index">İletişim</a></li>

                        </ul>
                    </div>

                </div>

            </div>
            <!-- </div> -->


        </nav>

        <header id="fh5co-header" class="fh5co-cover js-fullwidth " role="banner" style="margin-top: 50px; background-image: src('~/style_media/images/hero_1.jpeg')" data-stellar-background-ratio="0.5">

            <div class="overlay"></div>
            <div class="" style="width:100% ;">
                <!--container silindi-->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="display-t js-fullwidth">
                            <div class="display-tc js-fullwidth animate-box" data-animate-effect="fadeIn">


                                @*<div class="container">
                                    <div class="row">*@

                                <div class="fh5co-cover">

                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="~/style_media/sliderimg/slider1.jpg" />
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="~/style_media/sliderimg/slider2.jpg">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="~/style_media/sliderimg/slider3.jpg">
                                            </div>
                                            <div class="carousel-item  active">
                                                <img class="d-block w-100" src="~/style_media/sliderimg/slider4.jpg">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="~/style_media/sliderimg/slider5.jpg">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="~/style_media/sliderimg/slider6.jpg">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="~/style_media/sliderimg/slider7.jpg">
                                            </div>

                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>



                                </div>
                                @*</div>
                                    </div>*@


                                <!-- Optional JavaScript -->
                                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>





                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>


        @RenderBody()

        <footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4 fh5co-widget">
                        <h4>mevZUU</h4>
                        <p>benzersiz lezzetleri ve oyun alanları ile sevenlerin tercihi olmaya devam ediyor. Tüm şubeleriyle günün her anını bir lezzet şölenine dönüştürmektedir.</p>
                    </div>
                    <div class="col-md-2 col-md-push-1 fh5co-widget">
                        <h4>Sayfalar</h4>
                        <ul class="fh5co-footer-links">
                            <li><a href="#">Menülerimiz</a></li>
                            <li><a href="#">Şubelerimiz</a></li>
                            <li><a href="#">Bize Yazın</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-md-push-1 fh5co-widget">
                        <h4>İletişim Bilgileri</h4>
                        <ul class="fh5co-footer-links">
                            <li>Emrah, Yavrukurt Sk. No:12/A, 06010  <br> Keçiören/Ankara</li>
                            <li><a href="tel://+90 312 352 0103</a></li>
                            <li><a href="mailto:info@mevzuu.com.tr">info@mevzuu.com.tr</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; Tüm hakları saklıdır.</small>
                            <small class="block"><a href="https://mart.tc/" target="_blank">Mart Media</a> tarafından yapılmıştır</small>
                        </p>
                        <p>
                            <ul class="fh5co-social-icons">
                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="~/js-gotop"><i class="icon-arrow-up22"></i></a>
    </div>
    <!-- jQuery -->
    <script src="~/style_media/js/jquery.min.js"></script>


    <!-- jQuery Easing -->
    <script src="~/style_media/js/jquery.easing.1.3.js"></script>


    <!-- Bootstrap -->
    <script src="~/style_media/js/bootstrap.min.js"></script>


    <!-- Waypoints -->
    <script src="~/style_media/js/jquery.waypoints.min.js"></script>


    <!-- Waypoints -->
    <script src="~/style_media/js/jquery.stellar.min.js"></script>


    <!-- Flexslider -->
    <script src="~/style_media/js/jquery.flexslider-min.js"></script>


    <!-- Main -->
    <script src="~/style_media/js/main.js"></script>


</body>
</html>
